@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Icons/collaborioLogoLarge.png" alt="Collabor.io" />
    <h2>Together we can accomplish some things!</h2>
</div>

<div class="row" id="featureList">
    <div class="col-md-4">
        <h2>Collaborate and create!</h2>
        <ul>
            <li>Collaborate with your friends to create the program of your dreams - together!</li>
            <li>Do your phone-interviews with your potential hires in an environment they'll feel right at home in.</li>
            <li>Teach your students all they need to know - live.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <img src="~/Icons/pointClick.png" alt="Collaborate and create together" />
    </div>
</div>

@using VLN2_H27.Models
@model LoginViewModel

<div class="row">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "loginFrontPage", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>Log in</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                        <div class="checkbox-frontpage">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new {@class="checkBoxLabelForlogin" })
                        </div>
                <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-default" />
                </div>
                <p>
                    @Html.ActionLink("Register", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
</div>